.anylinkcss{
position:absolute;
visibility: hidden;
border:1px solid blue;
border-bottom-width: 0;
font:normal 13px arial,sans-serif;
line-height: 18px;
z-index: 100;
background-color: #FFFFFF;
width: 205px;
}

.anylinkcss a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid blue;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
text-indent: 5px;
}

.anylinkcss a:hover{ /*hover background color*/
background-color: #3366CC;
color: white;
}
}